html {
    height: 100%;
}

body {
    height: 100%;
}

.board {
    height: 400px;
    width: 400px;
    border: solid black 5px;
    display: flex;
    flex-direction: row;
}

.column {
    border: solid 1px black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    height: 100%;
    border: 1px solid black;
}

.main-div {
    display: flex;
    flex-direction: row;
}

.player-select {
    height: 100px;
    width: 150px;
    border: 5px solid black;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.xo {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rebeccapurple;
    font-size: -webkit-xxx-large;
}

div#X {
    background: green;
}
